.back-link {
  position: relative;
  display: block;
  width: fit-content;
  padding: 8px 12px 8px 32px;
  margin: 0 0 24px 0;
  /* border: 1px solid #808080; */
  border-radius: 8px;
  color: #2e2f42;
  transition:
    color 250ms ease,
    border-color 250ms ease;
}
/* .back-link::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 10px;
  width: 16px;
  height: 16px;
  transform: translateY(-50%) translateX(-4px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32L109.3 224 214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z'/%3E%3C/svg%3E");
  transition: opacity 250ms ease;
  opacity: 0;
  animation: slide 500ms linear infinite alternate both;
  animation-play-state: paused;
} */
.back-link:hover,
.back-link:focus {
  color: #4e75ff;
  border-color: #4e75ff;
}

.back-link:hover::before,
.back-link:focus::before {
  opacity: 1;
  animation-play-state: running;
}

/* @keyframes slide {
  from {
    transform: translateY(-50%) translateX(-4px);
  }

  to {
    transform: translateY(-50%) translateX(0);
  }
} */
